<h6><strong>Marker: </strong><%= @marker.name %></h6>
<h6><strong>Nombre Tipo: </strong><%= @marker.type.name %></h6>
<h6><strong>Nombre de Categoria: </strong><%= @marker.category.name %></h6>
<h6><strong>Url: </strong><%= @marker.url %></h6>
